// Tags
// --------------------------------------------------

.posts-expand .post-body ul li {
    list-style: disc;
}

code {
    padding: 2px 4px;
    word-wrap: break-word;
    color: rgba(244, 67, 54, 0.66);
    background: rgba(238, 238, 238, 0.5);
    border-radius: 3px;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 { margin: 40px 0 10px; }

h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}

blockquote {
    border-left: 4px solid #42b983;
}

p { margin: 0 0 25px 0; }

a { border-bottom-color: $grey-light; }

hr {
  margin: 20px 0;
  height: 2px;
}
